<html>
  <h1>{{.Title}}</h1>

  <ul>
    {{$a := .Addr}}
    {{range .Matches}}
        <li><a href="steam://rungame/730/76561202255233023/+playcast%20%22http://{{$a}}/match/token/{{.}}%22">{{.}}</a></li>
    {{end}}
  </ul>

</html>